<%- include('./head.ejs') %>
<!-- Page content -->
<div class="ps-content">

    <!-- Menu Section -->
    <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
            <h1 class="ps-center">
                <%= menu.nombre %>
            </h1>
            <br />
            <h4>
                <% if (menu.descripcion) { %>
                    <%= menu.descripcion %>
                <% } else { %>
                    Plato tipico
                <% } %>
                
                
                
            </h4>
            <p class="ps-text-grey">
                U$S <%= menu.precio %>
            </p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
            <img src="<%= menu.imagen %>" class="ps-round ps-image ps-opacity-min" alt="Menu" />
        </div>
    </div>

    <!-- Footer -->
     <%- include('./footer.ejs') %>
</div>