<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
        
        
        <h1>
            <br>
            <br>
            <%= about.title %>
            <%= about.team %>
        </h1>
        <h2>
            <%= about.descripcion %>
        </h2>
        <h3>
            <%= about.team %>
        </h3>

        <%- include('partials/footer.ejs') %>
    </body>

</html>