<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
        
        <%- include('partials/header.ejs') %>
        
        <h1>
            <% if (menu) { %>
                <%- include('partials/menu.ejs', {menu: menu}) %>
              <% } else { %>
                <%- include('partials/menu.ejs') %>
              <% } %>
        </h1>


    </body>

</html>