<%- include('./partials/header.ejs') %>

    <h1 class="titulo">Película a Editar:  <%= movie.title %></h1>
    <section class="formulario">
        <form action="/movies/update/<%= movie.id %>?_method=put" method="POST">
            <label for="title">Title </label>
            <p><input type="text" name="title" id="title" value="<%= movie.title %>" required></p>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="rating" value="<%= movie.rating %>" required></p>
            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="awards" value="<%= movie.awards %>" required></p>
            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id="release_date" value="<%= movie.release_date %>" required></p>
            <label for="length">Length </label>
            <p><input type="number" name="length" id="" value="<%= movie.length %>" required></p>
            <label for="genre_id">genre</label>
            <p>
                <select name="genre_id" id="">
                    <% genres.forEach(genre => { %>
                        <option value="<%= genre.id %>" <%= genre.id == movie.genre_id ? 'selected' : '' %>><%= genre.name %></option>
                    <% }) %>
                </select>
            </p>
            <br>
            <button class="botonAgregar" type="submit">Actualizar</button>
            
        </form>
        <a href="/movies">
            <button class="">Cancelar</button>
        </a>    
    </section>
    
    <%- include('./partials/footer.ejs') %>
</body>

</html>