<%- include('./partials/header.ejs') %>

    <h1>ORDENADAS POR FECHA</h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%=movies[i].id%>"><%= movies[i].title %> </a>
            <%= 'FECHA DE ESTRENO: ' + movies[i].release_date %>
        </li>
        <% } %>
        
    </ul>

    <%- include('./partials/footer.ejs') %>
</body>
</html>