<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>

    <div class="card">
      <img src="/images/avatar/<%= usuario.avatar %>" alt="una imagen">
        <div class="card-body">
          <h2 class="card-title"><%= usuario.nombre %></h2>
          <p class="card-text"><%= usuario.email %></p>
          
          <div class="container-btn">

            <form action="/users/edit/<%= usuario.id %>?_method=PUT">
              <button type="submit">Editar</button>
            </form>
            <form action="/users/<%= usuario.id %>?_method=delete" method="POST">
              <button type="submit">Eliminar</button>
            </form>
            
          </div>
        
        </div>
      </div>
      <form action="/" method="GET">
        <button type="submit">Volver</button>
    </form>
    </body>
</html>