<!DOCTYPE html>
<html lang="es">
<%- include('head.ejs') %>

    <body>
        <div class="container">
            <h1>Lista de Usuarios</h1>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarioArray.forEach(user=> { %>
                        <tr>
                            <td>
                                <%= user.nombre %>
                            </td>
                            <td>
                                <%= user.apellido %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <div class="botones">
                                    <form action="/users/edit/<%= user.id %>" method="GET">
                                        <button type="submit">Editar</button>
                                    </form>

                                    <form action="/users/<%= user.id %>?_method=delete" method="POST">
                                        <button type="submit">Eliminar</button>
                                    </form>

                                    <form action="/users/card/<%= user.id %>" method="GET">
                                        <button type="submit">card</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <form action="/users/add" method="GET">
                <button type="submit">Agregar</button>
            </form>
        </div>
        <form action="/" method="GET">
            <button type="submit">Volver</button>
        </form>
    </body>

</html>